@import "./utils/variables"
@import "./base/typography"
@import "./components/buttons"

body
    margin: 0

nav
    display: flex
    align-items: center
    justify-content: center
    padding: 18px 0 10px 0
    -webkit-box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.15)
    box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.15)
    z-index: 2
    position: relative

main
    font-family: $text_font

button
    @include button

#search
    background-color: $dark_grey_background
    display: flex
    align-items: center
    justify-content: center
    padding: 20px 0
    z-index: 0

.search_wrapper
    display: flex
    align-items: baseline
    p
        margin: 0 0 0 10px

#explore
    background-color: $light_grey_background

.explore_wrapper
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    padding: 40px
    h2
        margin: 0 0 5px
    p
        font-weight: 300
        font-size: 20px
        margin: 5px 0 20px 0

#explanations
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    h2
        margin-bottom: 0

.explanations_card
    margin: 20px 0
    padding: 20px
    background-color: $light_grey_background
    font-weight: bold
    &--active
        background-color: lighten($color_secondary, 22%)

#restaurants
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    background-color: $light_grey_background

footer
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    background-color: $darkest_grey_background
    color: white
    font-family: $text_font
    padding: 20px 0

    ul
        list-style-type: none
        li
            display: flex
            justify-content: left
            align-items: center
            margin: 10px 0
            a
                &:hover
                    text-decoration: underline
            p
                margin: 0
                cursor: pointer
                &:hover
                    text-decoration: underline

.footer_logo
    font-family: $title_font
    font-size: 20px
    margin: 0

.list_icon
    margin-right: 10px

.list_icon_right
    font-size: 12px
    margin-right: 9px

.mail_link
    text-decoration: inherit
    color: inherit
