@import "./utils/variables"
@import "./base/typography"
@import "./components/buttons"

nav
    background-color: $color_primary

main
    font-family: $text_font

button
    @include button

#search
    background-color: $grey_background
