body {
  margin: 0;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 2em;
}

main {
  font-family: "Roboto", sans-serif;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 0 10px 0;
  -webkit-box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);
  z-index: 2;
  position: relative;
  padding-right: 80px;
}
.nav_arrow {
  font-size: 24px;
  padding-right: 80px;
}
.nav_arrow a {
  color: black;
}

.btn_primary {
  border-radius: 50px;
  border: 0px;
  color: white;
  font-size: 18px;
  line-height: 18px;
  background: linear-gradient(to bottom, #FF79DA 0%, #FF79DA 17%, #9356dc 100%);
  box-shadow: 0px 7px 25px 0px rgba(0, 0, 0, 0.36);
  cursor: pointer;
  transition: transform 300ms, background 450ms, box-shadow 450ms;
  transition-delay: 0, 150ms, 150ms;
}
.btn_primary:hover {
  transform: scale(1.08);
  background: linear-gradient(to bottom, #ff83dd 0%, #ff83dd 17%, #a16be0 100%);
  box-shadow: 0px 7px 25px 0px rgba(0, 0, 0, 0.6);
}

.img_background_wrapper {
  height: 200px;
}
.img_background_wrapper_img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

#content {
  background-color: #F7F7F7;
}

.content_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: -40px;
  background-color: #F7F7F7;
  border-radius: 35px 35px 0 0;
}

.content_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.content_header_text {
  padding-left: 50px;
}
.content_header_logo {
  padding-left: 50px;
}

.content_menu_header {
  display: flex;
  justify-content: center;
}
.content_menu_header h2 {
  font-weight: 300;
}
.content_menu_header_border {
  border-bottom: 3px solid #99e2d0;
}

.content_menu_cards_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content_menu {
  margin-bottom: 35px;
}
.content_menu_card {
  background-color: white;
  width: 550px;
  box-shadow: 3px 7px 7px 0px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
}
.content_menu_card p, .content_menu_card h3 {
  margin: 4px 0;
}
.content_menu_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content_menu_footer span {
  font-weight: bold;
}

button {
  margin-top: 35px;
  margin-bottom: 15px;
  padding: 20px 50px;
  border-radius: 50px;
  border: 0px;
  color: white;
  font-size: 18px;
  line-height: 18px;
  background: linear-gradient(to bottom, #FF79DA 0%, #FF79DA 17%, #9356dc 100%);
  box-shadow: 0px 7px 25px 0px rgba(0, 0, 0, 0.36);
  cursor: pointer;
  transition: transform 300ms, background 450ms, box-shadow 450ms;
  transition-delay: 0, 150ms, 150ms;
}
button:hover {
  transform: scale(1.08);
  background: linear-gradient(to bottom, #ff83dd 0%, #ff83dd 17%, #a16be0 100%);
  box-shadow: 0px 7px 25px 0px rgba(0, 0, 0, 0.6);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #474747;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 20px 0;
}
.footer ul {
  list-style-type: none;
  padding: 0;
}
.footer ul li {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 10px 0;
}
.footer ul li a:hover {
  text-decoration: underline;
}
.footer ul li p {
  margin: 0;
  cursor: pointer;
}
.footer ul li p:hover {
  text-decoration: underline;
}
.footer_logo {
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  margin: 0;
}
.footer_list_icon {
  margin-right: 10px;
}
.footer_list_icon--right {
  font-size: 12px;
  margin-right: 9px;
}
.footer_mail_link {
  text-decoration: inherit;
  color: inherit;
}

/*# sourceMappingURL=menus.css.map */
