@import "../utils/variables"
@import "../base/typography"
@import "../components/buttons"
@import "../layouts/header"
@import "../layouts/footer"

body
    margin: 0

h1
    font-family: $title_font

main
    font-family: $text_font

.nav
    @include nav
    padding-right: 80px

    &_arrow
        font-size: 24px
        padding-right: 80px
        a
            color: black

.btn_primary
    @include button

.img_background_wrapper
    height: 200px
    &_img
        height: 200px
        width: 100%
        object-fit: cover

.content_wrapper
    position: relative
    top: -40px
    background-color: white
    border-radius: 35px
.content_header
    display: flex
    justify-content: center
    align-items: center
    flex-direction: row
    &_text
        padding-left: 50px
    &_logo
        padding-left: 50px
.footer
    @include footer
