@import "../utils/variables"
@import "../base/typography"
@import "../components/buttons"
@import "../components/heart-icon"
@import "../layouts/header"
@import "../layouts/footer"

body
    margin: 0

h1
    font-family: $title_font
    font-size: 2em

main
    font-family: $text_font

.nav
    @include nav
    padding-right: 3rem
    &_arrow
        font-size: 24px
        margin-right: 3rem
        a
            color: black

.btn_primary
    @include button

.img_background_wrapper
    height: 200px
    &_img
        height: 200px
        width: 100%
        object-fit: cover

.heart_icon
    @include heart_icon

#content
    background-color: $light_grey_background

.content_wrapper
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    position: relative
    top: -40px
    background-color: $light_grey_background
    border-radius: 35px 35px 0 0
.content_header
    display: flex
    text-align: center
    justify-content: center
    align-items: center
    flex-direction: row
    &_text
        padding-left: 50px
    &_logo
        padding-left: 50px
        margin-right: 20px

.content_menu_header
    display: flex
    justify-content: center
    visibility: hidden
    h2
        font-weight: 300
    &_border
        border-bottom: 3px solid $color_tertiary

.content_menu_cards_wrapper
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column

.content_menu
    margin-bottom: 35px

.content_menu_card
    background-color: white
    width: 550px
    box-shadow: 3px 7px 7px 0px rgba(0,0,0,0.07)
    border-radius: 14px
    padding: 10px
    margin: 10px 0
    display: flex
    flex-direction: column
    visibility: hidden
    position: relative
    text-overflow: ellipsis
    overflow: hidden
    z-index: 0
    box-sizing: border-box
    p, h3
        text-overflow: ellipsis
        overflow: hidden
        margin: 4px 0
    &_footer
        text-overflow: ellipsis
        overflow: hidden
        display: flex
        justify-content: space-between
        align-items: center
        span
            font-weight: bold
    &:hover
        padding-right: 100px
    &:hover span
        transform: rotate(360deg)
    &:hover .check
        transform: translate(-90px)

.check
    z-index: 0
    display: flex
    justify-content: center
    align-items: center
    background-color: $color_tertiary
    width: 50px
    height: 38px
    position: absolute
    padding: 20px
    right: -90px
    top: 0
    transition: transform 400ms ease-in-out
    border-radius: 0px 15px 15px 0px
    span
        color: white
        transition: transform 450ms ease-in-out

.appear
    &_1
        animation: apparition 2000ms forwards
    &_2
        animation: apparition 2000ms 300ms forwards
    &_3
        animation: apparition 2000ms 600ms forwards
    &_4
        animation: apparition 2000ms 900ms forwards
    &_5
        animation: apparition 2000ms 1200ms forwards
    &_6
        animation: apparition 2000ms 1500ms forwards
    &_7
        animation: apparition 2000ms 1800ms forwards
    &_8
        animation: apparition 2000ms 2100ms forwards
    &_9
        animation: apparition 2000ms 2400ms forwards
    &_10
        animation: apparition 2000ms 2700ms forwards

@keyframes apparition
    0%
        opacity: 0
    100%
        opacity: 1
        visibility: visible

button
    margin-top: 35px
    margin-bottom: 15px
    padding: 20px 50px
    @include button

.footer
    @include footer

@media screen and ( max-width: 580px )
    .content_menu_card
        width: 400px

@media screen and ( max-width: 420px )
    .content_menu_card
        width: 300px
